<h1>Football Win Predictor</h1>

In [81]:
# import packages and set themes
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [82]:
# reading csv's
df_2022  =  pd.read_csv('E2022.csv', skip_blank_lines=True)
df_2021  =  pd.read_csv('E2021.csv', skip_blank_lines=True)
df_2020  =  pd.read_csv('E2020.csv', skip_blank_lines=True)
df_2019  =  pd.read_csv('E2019.csv', skip_blank_lines=True)
df_2018  =  pd.read_csv('E2018.csv', skip_blank_lines=True)
df_2017  =  pd.read_csv('E2017.csv', skip_blank_lines=True)
df_2016  =  pd.read_csv('E2016.csv', skip_blank_lines=True)
df_2015  =  pd.read_csv('E2015.csv', skip_blank_lines=True)
df_2014  =  pd.read_csv('E2014.csv', skip_blank_lines=True)
df_2013  =  pd.read_csv('E2013.csv', skip_blank_lines=True)
df_2012  =  pd.read_csv('E2012.csv', skip_blank_lines=True)

In [90]:
df_list = [df_2022 , df_2021, df_2020, df_2019, df_2018,df_2017,df_2016,df_2015,df_2014, df_2013,df_2012]
df = pd.concat(df_list,ignore_index = True)

def remove_col(df, col_list):
    
    df = df.drop(columns = col_list, axis=1) #to remove div and time
    return df

column_remove_list = df.columns[df.isna().any()].tolist() #list of all unwanted columns whihc are either unused or conflicting
df_clean = remove_col(df,column_remove_list) 

df_clean

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,E0,05/08/2022,Crystal Palace,Arsenal,0,2,A,0,1,A,...,1.89,4.40,3.5,1.83,4.60,3.5,1.87,4.58,3.63,1.88
1,E0,06/08/2022,Fulham,Liverpool,2,2,D,1,0,H,...,1.28,12.00,5.5,1.27,13.00,6.0,1.25,10.50,6.50,1.29
2,E0,06/08/2022,Bournemouth,Aston Villa,2,0,H,1,0,H,...,2.04,3.75,3.3,2.05,3.75,3.3,2.00,4.09,3.59,2.00
3,E0,06/08/2022,Leeds,Wolves,2,1,H,1,1,D,...,3.30,2.25,3.3,3.20,2.30,3.2,3.10,2.45,3.44,3.09
4,E0,06/08/2022,Newcastle,Nott'm Forest,2,0,H,0,0,D,...,5.83,1.67,3.7,5.25,1.62,3.7,5.50,1.57,4.22,6.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4081,E0,19/05/13,Swansea,Fulham,0,3,A,0,1,A,...,5.15,1.80,3.6,4.33,1.83,3.8,4.60,1.66,4.09,5.76
4082,E0,19/05/13,Tottenham,Sunderland,1,0,H,0,0,D,...,12.40,1.30,5.0,11.00,1.30,6.0,11.50,1.25,6.60,15.00
4083,E0,19/05/13,West Brom,Man United,5,5,D,1,3,A,...,1.85,4.33,3.5,1.83,4.20,3.9,1.85,3.65,3.42,2.17
4084,E0,19/05/13,West Ham,Reading,4,2,H,2,0,H,...,5.88,1.70,3.4,5.50,1.70,4.0,5.00,1.59,4.36,6.13
4085,E0,19/05/13,Wigan,Aston Villa,2,2,D,2,1,H,...,3.70,2.15,3.3,3.40,2.15,3.6,3.50,2.10,3.56,3.77